@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  margin: 0;
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  font-family: "Varela Round", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --background: #435ef9;
  --button: #ff665a;
  --title: #012840;
}
button {
  font-family: "Varela Round";
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: "#eee";
  color: "#222";
  transition: 0.1s;
  width: 100%;
}
button:active {
  background-color: "#222";
  color: "#eee";
}
textarea {
  width: 100%;
  max-width: 35vw;
  height: 70%;
  font-family: "Varela Round";
  font-weight: 800;
  font-size: 13px;
  border: none;
  border-radius: 5px;
}
input {
  width: 100%;
  font-family: "Varela Round";
  font-weight: 800;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 4px 4px 4px 0;
}
#teste {
  background-color: #012840 !important;
}
